body {
    background-image: url("../images/ArtsyWall.jpeg");
    background-size: cover;
    font-family: "Press Start 2P", cursive;
}

h1 {
    position: relative;
    top: 30px;
    font-size: 18px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
}

.answersContainer, h5, p {
    font-size: 10px;
}

h2, h4, h6, h5, p, blockquote {
    color: #333
}

.gameboy {
    background-image: url("../images/image.svg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.gameContainer {
    position: relative;
    top: 0;
    margin-top: 40px;
}

.headlineContainer {
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.questionContainer {
    font-size: 10px;
    color: white;
    text-shadow: .5px .5px black;
    margin: 0 auto;
    position: relative;
    padding: 10px;
    background-color: rgb(224, 63, 63);
    width: 207px;
    left: 2px;
    height: 179px;
    top: -11px;
}

.answersContainer {
    position: relative;
    top: -105px;
}

.answersContainer, button{
    display: block;
    color: #333;
    width: 200px;
    left: 2px;
    margin: 0 auto;
    padding: 0;
}

.answersContainer button:hover {
    background-color: lightgray;
    border-radius: 5px;
    color: black;
}



.alertContainer {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    color: #444;
    text-align: center;
    text-shadow: 1px 1px white;
    margin: 0 auto;
}

/* .winsContainer{
    background-color: rgb(224, 63, 63);
    color: white;
    
} */
#winAlert {
    position: relative;
}

#lossAlert {
    position: relative;
}

#start {
    position: relative;
    top: -65px;
    left: 1px;
    height: 179px;
    width: 207px;
}

#start:hover {
    text-shadow: 3px 3px black;
}

.timerContainer {
    position: relative;
    top: 220px;
    font-size: 10px;
    color: white;
    text-shadow: 1px 1px black;
}