body {
    background-image: url("../images/ArtsyWall.jpeg");
    background-size: cover;
    font-family: "Press Start 2P", cursive;
}

h1 {
    position: relative;
    top: 30px;
    font-size: 18px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
}

.answersContainer, h5, p, span {
    font-size: 10px;
}

h2, h4, h6, h5, p, blockquote {
    color: #333
}

.gameboy {
    background-image: url("../images/image.svg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.gameContainer {
    position: relative;
    top: 0;
    margin-top: 40px;
}

.headlineContainer {
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.questionContainer {
    font-size: 10px;
    color: white;
    text-shadow: 1px 1px black;
    margin: 0 auto;
    position: relative;
    padding: 10px;
    background-color: rgb(190, 59, 59);
    width: 207px;
    left: 2px;
    height: 179px;
    top: -11px;
}

.answersContainer {
    position: relative;
    top: -105px;
}

.answersContainer button{
    text-align: center;
    background-color: #333;
    display: block;
    color: rgb(239, 250, 229);
    width: 200px;
    left: 2px;
    margin: 0 auto;
    padding: 0;
    border-radius: 5px;
}

.answersContainer button:hover {
    background-color: rgb(239, 250, 229);
    border-radius: 5px;
    color: #333;
}

.alertContainer {
    position: relative;
    top: -330px;
    left: 2px;
    background-color: rgb(255, 255, 255);
    width: 207px;
    height: 179px;
    padding: 5px;
    color: #444;
    text-align: center;
    margin: 0 auto;
}

#start {
    position: relative;
    top: -65px;
    left: 1px;
    height: 179px;
    width: 207px;
}

#start:hover {
    text-shadow: 3px 3px black;
}

#start p {
    text-shadow: none;
    color: #444;
}


#start p:hover {
    text-shadow: 1px 1px white;
}

.timerContainer {
    position: relative;
    top: 220px;
    font-size: 10px;
    color: white;
    text-shadow: 1px 1px black;
}

#winAlert {
    font-size: 12px;
    color: green;
}

#timeUpAlert {
    font-size: 12px;
    color: #444
}

#lossAlert {
    font-size: 12px;
    color: red;
}

#wins {
    font-size: 8px;
}

#losses {
    font-size: 8px;
}